<script type="text/javascript" id="bootstrap-current-user">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
</script>

<main id="root">
  <h1>App doesn't work</h1>
  <h3>Please report to admin.</h3>
</main>