<script type="text/javascript" id="bootstrap-current-user">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
</script>

<main id="root">
  <h1 style="font-size: 24px; font-weight: bold; margin: 20px;">App doesn't work</h1>
  <h3 style="font-size: 14; margin: 20px;">Please report to admin:
    <a href="mailto:admin@instagames.ninja?subject=Report">
      admin@instagames.ninja
    </a>
    <br />
    If you are disabling JavaScript, please enable to enjoy app.
  </h3>
</main>