body {
  background: $lightest-gray;
  font-family: $sans-serif;
  font-size: 14px;
  line-height: 1.3;
}

a {
  color: $blue;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  outline: none;
}

a:active {
  opacity: 0.7;
}

button:hover {
  cursor: pointer;
  outline: none;
}

button:active {
  opacity: 0.7;
}

input,
textarea {
  outline: none;
	box-sizing: border-box;
}

img {
  display: block;
}

.blue-button {
  padding: 7px 0;

  background: $blue;
  border: 1px solid $blue;
  border-radius: 3px;

  color: $white;
  font-size: 14px;
}

.button-link {
  padding: 0;

  background: none;
  border: none;

  color: inherit;
  font: inherit;
  cursor: pointer;
}

.link-button,
.blue-link-button {
  padding: 5px 25px;

  border: 1px solid $light-gray;
  border-radius: 3px;

  color: $darkest;
  font-size: 14px;
}

.link-button:hover {
  border: 1px solid $gray;
}

.blue-link-button {
  background: $blue;
  border: 1px solid $blue;

  color: $white;
}

.image-circle {
  border-radius: 50%;
  border: 1px solid $light-gray;
}

input.white-input,
textarea.white-input {
  padding: 8px;

  border-radius: 3px;
  border: 1px solid $light-gray;

  font-size: 14px;
  color: $darkest;
}

input.white-input:focus,
textarea.white-input:focus{
  border: 1px solid $gray;
}

.clickable {
  cursor: pointer;
}


.main-footer {
  display: flex;
  justify-content: center;
}

.main-footer footer {
  display: flex;
  justify-content: space-between;
  margin: 0 40px 20px;

  width: 1000px;

  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: $gray;
}

.main-footer footer a {
  margin-right: 15px;

  color: $darkest-blue;
}

.hide {
  display: none;
}