.account-page {
  display: flex;
  justify-content: center;
}

.account-page > article {
  display: flex;

  width: 800px;
  margin: 50px 20px;

  background: $white;
  border-radius: 3px;
  border: 1px solid $lighter-gray;
}

.account-page ul.sidebar {
  display: flex;
  flex-direction: column;

  width: 30%;

  border-right: 1px solid $lighter-gray;
}

.account-page ul.sidebar > li {
  display: flex;

  width: 100%;
}

.account-page ul.sidebar > li > a {
  display: block;

  width: 100%;
  padding: 15px 30px;

  border-left: 2px solid $white;

  color: $darkest;
  font-size: 16px;
}

.account-page ul.sidebar > li > a:hover {
  background: $lightest-gray;
  border-left: 2px solid $lighter-gray;
}


.account-page ul.sidebar > li > a.selected {
  border-left: 2px solid $darkest;

  font-weight: bold;
}

.account-page .edit-form {
  display: flex;
  flex-direction: column;

  margin: 0 50px 0 20px;
  width: 70%;
}


.account-page .edit-form > header {
  display: flex;
  align-items: center;

  margin: 20px 0;
}

.account-page .edit-form > header img {
  width: 40px;
  height: 40px;
}

.account-page .edit-form > header .username {
  font-size: 24px;
}

.account-page .edit-form .input {
  display: flex;
  align-items: center;

  margin-bottom: 15px;
}
.account-page .edit-form .input:last-child {
  margin-bottom: 30px;
}
.account-page .edit-form .errors {
  color: $red;
}
.account-page .edit-form .success {
  color: $green;
}

.account-page .edit-form .left {
  display: flex;
  justify-content: flex-end;
  text-align: right;

  width: 25%;
  margin: 0 30px 0 0;

  font-weight: bold;
  font-size: 16px;
}

.account-page .edit-form .input > .right {
  width: 75%;
}

.account-page .edit-form .input input,
.account-page .edit-form .input textarea {
  width: 100%;
}

.account-page .blue-button {
  padding: 7px 30px;
}