ul.comments {
  display: flex;
  flex-direction: column;
}

ul.comments > li {
  display: flex;
  justify-content: space-between;

  margin: 0 0 8px;
}

ul.comments > li > div:first-child a {
  display: inline-block;
  margin: 0 5px 0 0;

  font-weight: bold;
  color: $darkest;
}

ul.comments > li > div:last-child {
  color: $light-gray;
}

.comment-form {
  display: flex;

  border-top: 1px solid $lighter-gray;
}

.comment-form > input {
  flex: 1;

  padding: 15px 0;

  border: none;
  background: $white;

  font-size: 14px;
}

.comment-form > input::placeholder {
  color: $gray;
}
