.comment-form {
  display: flex;

  border-top: 1px solid $light-gray;
}

.comment-form > input {
  flex: 1;

  padding: 15px 0;

  border: none;
  background: $white;

  font-size: 14px;
}

.comment-form > input::placeholder {
  color: $gray;
}
