.modal.confirm-modal {
  top: 35%;
  left: 50%;

  width: auto;
  height: auto;

  background: none;
}

.modal.confirm-modal > div.modal-guts {
  // important style
  position: relative;

  margin: 5px;

  background: none;
}

.confirm {
  display: flex;
  flex-direction: column;

  width: auto;

  background: $white;
  border-radius: 3px;
}

.confirm > ul {

}

.confirm > ul > li {
  display: flex;
  justify-content: center;

  // width: auto;

  border-bottom: 1px solid $light-gray;
}

.confirm > ul > li > header {
  padding: 20px;
  width: 400px;

  font-size: 16px;
  text-align: center;
}
.confirm > ul > li:last-child {
  border-bottom: none;
}

.confirm button {
  padding: 10px;
  width: 50%;

  border: none;
  background: $white;
  border-radius: 0 0 3px 0;

  color: $darkest;
  text-align: center;
}

.confirm button:hover {
  background: rgba(0, 0, 0, 0.07);
}
.confirm button:disabled:hover {
  background: $white;
}

.confirm button.blue {
  color: $white;
  background: $blue;
  border-radius: 0 0 0 3px;
}
.confirm button.blue:hover{
  background: $blur-blue;
}
.confirm button.blue:disabled:hover {
  background: $blue;
}
