.feed-page {
  margin: 50px 0 0;
}

.feed-page > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed-photo {
  margin: 0 0 50px;

  background: $white;
  border: 1px solid $lighter-gray;
  border-radius: 3px;
}

.feed-photo .header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px;

  border-bottom: 1px solid $lighter-gray;
}

.feed-photo .header .op {
  margin: 0 15px 0 0;
}

.feed-photo .header .op a{
  display: flex;
  align-items: center;

  font-weight: bold;
  color: $darkest;
}
.feed-photo .header .op a:active{
  opacity: 1;
}


.feed-photo .header .op img {
  width: 30px;
  height: 30px;

  margin: 0 10px 0 0;
}

.feed-photo .image img {
  width: 100%;
}

.feed-photo .info {
  padding: 5px 15px;
}

.feed-photo .info .like-button {
  margin: 8px 0;
}

.feed-photo .info .likes-count{
  margin: 0 0 8px;

  font-weight: bold;
}

.feed-photo .caption  {
  margin: 0 0 8px;
}

.feed-photo .caption span {
  font-weight: bold;
}

.feed-photo .info ul.comments {
  display: flex;
  flex-direction: column;
}

.feed-photo .info ul.comments > li {
  display: flex;
  justify-content: space-between;

  margin: 0 0 8px;
}

.feed-photo .info ul.comments > li > div:first-child span {
  font-weight: bold;
}

.feed-photo .info ul.comments > li > div:last-child {
  color: $light-gray;
}

.feed-photo .info .uploaded-at {
  margin: 0 0 8px;
  font-size: 10px;
  color: $gray;
  text-transform: uppercase;
}


