#image-login-page-phone::after {
  background-image: url(asset_path("login-page-phone.png"));
  background-size: 400px 550px;
  display: block;
  width: 400px;
  height: 550px;
  content: " ";
}

#image-logo-nav::after {
  background-image: url(asset_path("instagames-logo-90.png"));
  background-size: 33px 33px;
  display: block;
  width: 33px;
  height: 33px;
  content: " ";
}

#image-loading-spinner::after {
  background-image: url(asset_path("loading-spinner.svg"));
  background-size: 108px 108px;
  display: block;
  width: 108px;
  height: 108px;
  content: " ";
}

#image-intro-photos::after {
  background-image: url(asset_path("intro-photos.jpg"));
  background-size: 360px 360px;
  display: block;
  width: 360px;
  height: 360px;
  content: " ";
}