.nav-bar {
  display: flex;
  justify-content: center;

  width: 100%;

  border-bottom: 1px solid $lighter-gray;
  background: $white;
}

.nav-bar nav {
  display: flex;
  justify-content: space-between;

  padding: 22px 40px;
  width: 1100px;
}

.nav-bar a.link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 180px;
}

.nav-bar a.link:active,
.nav-bar a.link:hover, {
  opacity: 1;
}

.nav-bar a.link .separator {
  width: 1px;
  height: 33px;
  background: $gray;
}

.nav-bar a.link img {
  width: 33px;
  height: 33px;
}

.nav-bar a.link .name {
  font-family: $norican;
  font-size: 26px;
  color: $darkest;
}

.nav-bar .utils {
  display: flex;
  justify-content: space-between;
  align-content: center;

  width: 150px;
}

.nav-bar .utils > div{
  display: flex;
  align-items: center;
}

.nav-bar .utils a,
.nav-bar .utils button {
  display: flex;
  align-items: center;

  color: $darkest;
  font-weight: normal;
}

.nav-bar .utils .fa {
  font-size: 28px;
  display: block;
}

.nav-bar .utils .fa-user-o {
  font-size: 26px;
}

