.modal.photo-detail-modal {
  top: 50%;
  left: 50%;

  width: auto;
  height: auto;

  background: none;
}

.modal.photo-detail-modal > div.modal-guts {
  // important style
  position: relative;

  background: none;
}

.photo-detail {
  display: flex;
  justify-content: center;

  width: auto;
  height: auto;
  margin: 5px;
}

.photo-detail figure.left {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 600px;
  height: 600px;

  background: $darkest;
}

.photo-detail figure.left img {
  max-width: 100%;
  max-height: 100%;
}

.photo-detail section.right {
  display: flex;
  flex-direction: column;

  width: 360px;
  height: auto;

  background: $white;
}

.photo-detail section.right header {
  display: flex;
  align-items: center;

  margin: 0 25px;
}

.photo-detail section.right header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 0;
  width: 100%;

  border-bottom: 1px solid $lighter-gray;

  font-weight: bold;
}

.photo-detail section.right header > div .name {

}

.photo-detail section.right header > div .name a {
  display: flex;
  align-items: center;

  color: $darkest;
}

.photo-detail section.right header > div .delete {
  font-size: 20px;
}

.photo-detail section.right header img {
  width: 40px;
  height: 40px;

  margin: 0 10px 0 0;
}

.photo-detail .info {
  display: flex;
  flex-direction: column;
  flex-grow: 2;

  height: 300px;

  margin: 5px 0;
}

.photo-detail .info > div:first-child {
  flex-grow: 2;

  overflow-y: scroll
}

.photo-detail .info > div:last-child {
  border-top: 1px solid $lighter-gray;
}

.photo-detail .info .caption {
  margin: 0 0 8px 0;
}

.photo-detail .info .caption a {
  margin-right: 8px;

  font-weight: bold;
  color: $darkest;
}

.photo-detail .comments {
  padding: 0 25px;
}

.photo-detail .features {
  margin: 5px 25px 0;
}

.photo-detail .features > div:first-child {
  display: flex;
}

.photo-detail .info .features > div:first-child button.focus-comment {
  font-size: 22px;
  margin-left: 15px;
}

.photo-detail .info .features > div:first-child button.focus-comment > i {
  margin-bottom: 3px;
}

.photo-detail .info .like-button {
  margin: 5px 0;
}

.photo-detail .info .likes-count {
  font-weight: bold;
}
.photo-detail .info .likes-count > span {
  font-weight: normal;
}

.photo-detail .info .uploaded-at {
  margin: 10px 0;
  font-size: 10px;
  color: $gray;
  text-transform: uppercase;
}