.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 50px 0;
}

.profile-page > article {
  max-width: 990px;
}

.profile-page header {
  display: flex;

  margin: 0 0 40px;
}

.profile-page header figure {
  margin: 0 70px;
}

.profile-page header figure img {
  width: 150px;
  height: 150px;
}
.profile-page header figure img:hover {
  cursor: pointer;
}

.profile-page section.information {
  display: flex;
  flex-direction: column;
}

.profile-page section.information > * {
  margin: 0 0 20px;
}

.profile-page section.information > *:last-child {
  margin: 0;
}

.profile-page section.information .title {
  display: flex;
  align-items: center;
}

.profile-page section.information .title div {
  font-size: 32px;
}

.profile-page section.information .title a{
  margin-left: 15px;
}

.profile-page section.information .summary {
  font-size: 16px;
}

.profile-page section.information .summary .count {
  font-weight: bold;
  font-size: 17px;
}

.profile-page section.information .bio {
  font-size: 16px;
}

.profile-page section.information .bio span {
  font-weight: bold;
}

.profile-page .photos {
  display: flex;
  justify-content: center;
}

.profile-page .photos > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  width: 990px;
}

.profile-page .photos > ul > li {
  margin: 15px;
}

.profile-page .photos img {
  width: 300px;
  height: 300px;
}

.profile-page .photos img:hover {
  cursor: pointer;
  filter: brightness(70%);
}

@media (max-width: 990px) {
  .profile-page .photos > ul {
    justify-content: flex-start;

    width: 660px;
  }

  .profile-page .photos img {

  }
}

@media (max-width: 660px) {
  .profile-page .photos > ul {
    justify-content: center;

    width: 330px;
  }
}

