.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 50px 0;
}

.profile-page > article {
  display: flex;
  flex-direction: column;

  max-width: 990px;
}

.profile-page header {
  display: flex;

  margin: 0 0 40px;
}

.profile-page header figure {
  margin: 0 70px;
}

.profile-page header figure img {
  width: 150px;
  height: 150px;
}

.profile-page footer {
  display: flex;
  justify-content: center;

  width: 100%;
}

.profile-page .information {
  display: flex;
  flex-direction: column;
}

.profile-page .information > * {
  margin: 0 0 20px;
}

.profile-page .information > *:last-child {
  margin: 0;
}

.profile-page .information .title {
  display: flex;
  align-items: center;
}

.profile-page .information .title div {
  font-size: 32px;
}

.profile-page .information .title a{
  margin-left: 15px;
}

.profile-page .information .title .blue-button {
  margin-left: 15px;
  padding: 5px 25px;

  font-weight: bold;
  text-transform: capitalize;
}

.profile-page .information .title .blue-button.following {
  background: $white;
  border-color: $light-gray;

  color: $darkest;
}

.profile-page .information .summary {
  display: flex;
  font-size: 16px;
}

.profile-page .information .summary > div {
  margin-right: 20px;
}

.profile-page .information .summary .count  {
  padding: 0;

  background: none;
  border: none;
}

.profile-page .information .summary .count span {
  font-weight: bold;
  font-size: 17px;
}

.profile-page .information .bio {
  font-size: 16px;
}

.profile-page .information .bio span {
  font-weight: bold;
}

.profile-page .intro {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: $white;
  border-radius: 3px;
}

.profile-page .intro .no-posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 300px;

  border: 1px solid $lighter-gray;
  border-radius: 3px;
}

.profile-page .intro .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  text-align: center;
}

.profile-page .intro .right h3 {
  margin: 15px 0;
  font-size: 18px;
  font-weight: bold;
}

.profile-page .intro .right p {
  font-size: 16px;
}

.profile-page .intro .right .inline {
  display: inline;
}

.profile-page .photos {
  display: flex;
  justify-content: center;
}

.profile-page .photos > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  width: 990px;
}

.profile-page .photos > ul > li {
  position: relative;
  margin: 15px;
}

.profile-page .photos img {
  width: 300px;
  height: 300px;
}

.profile-page .photos .highlight-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.profile-page .photos .highlight {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  color: $white;

  font-size: 20px;
  opacity: 0;
}

.profile-page .photos button.image-button:hover .highlight, // firefox
.profile-page .photos .highlight:hover {
  display: relative;
  opacity: 1;

  background-color: rgba(0, 0, 0, 0.5);
}

.profile-page .photos .highlight > div {
  display: flex;
  margin: 0 10px;
}

.profile-page .photos .highlight > div > .fa {
  margin: 0 10px 0;
}

@media (max-width: 990px) {
  .profile-page .photos > ul {
    justify-content: flex-start;

    width: 660px;
  }

  .profile-page .photos img {

  }
}

@media (max-width: 660px) {
  .profile-page .photos > ul {
    justify-content: center;

    width: 330px;
  }
}

