.session-page {
  display: flex;
  flex-direction: column;
}

.session-main {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 40px 0;
}

.session-main .left img {
  width: 400px;
}

.session-main .right {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 350px;
}

.session-main .box {
  margin-bottom: 20px;

  border: 1px solid $lighter-gray;
  border-radius: 1px;
  background: $white;
}

.session-main .logo {
  margin: 30px 0;

  font-family: $norican;
  font-size: 48px;
  text-align: center;
}

.session-main .title {
  margin: 15px 40px;

  text-align: center;
  font-size: 16px;
  color: $gray;
  line-height: 1.3;
}

.session-main .form {

}

.session-main .errors {
  color: $red;
  margin: 15px 40px;
}

.session-main .input{
  display: flex;
  justify-content: center;

  margin: 0 40px 10px;
}

.session-main .input input{
  padding: 8px;
  width: 270px;

  border-radius: 3px;
  border: 1px solid $light-gray;

  font-size: 14px;
  color: $darkest;
}

.session-main .input button,
.session-main .demo-login button{
  width: 100%;
}

.session-main .demo-login {
  margin: 10px 40px 20px;
}

.session-main .or-line {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 40px;

  color: $gray;
}

.session-main .or-line .or-line-or {
  margin: 10px 20px;
}

.session-main .or-line .or-line-line {
  width: 100%;
  height: 1px;

  background: $gray;
}


.session-main .redirect {
  padding: 30px 0;

  text-align: center;
  color: $darkest;
}

.session-footer {
  display: flex;
  justify-content: space-around;
  margin: 0 0 20px;

  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: $gray;
}

.session-footer a {
  margin-right: 15px;

  color: $darkest-blue;
}


@media all and (max-width: 800px) {
  .session-main .left {
    display: none;
  }
}
