.upload-modal {
  min-width: 480px;
}
.upload-form {
  min-width: 480px;
  font-size: 14px;
}

.upload-form > ul {

}

.upload-form > ul > li {
  border-bottom: 1px solid $light-gray;
}
.upload-form > ul > li:last-child {
  border-bottom: none;
}

.upload-form .title {
  padding: 10px;

  font-weight: bold;
  text-align: center;
  color: $darkest;
  font-size: 16px;
}

.upload-form .errors {
  padding: 10px;

  color: $red;
}

.upload-form .image-input {
  display: flex;
  flex-direction: column;
}

.upload-form .file {
  padding: 10px;
  width: 100%;

  outline: none;
}

.upload-form .image {
  display: flex;
  justify-content: center;
}

.upload-form .image img{
  max-height: 270px;
  // max-width: 480px;
}

.upload-form .input,
.upload-form .button {
  padding: 10px;
  width: 100%;

  border: none;
  outline: none;

  text-align: center;
  font-size: 14px;
}

.upload-form .button {
  width: 50%;

  background: $lighter-gray;
}

.upload-form .button.blue {
  color: $white;
  background: $blue;
}