.modal.upload-modal {
  top: 50%;
  left: 50%;

  width: auto;
  height: auto;

  background: none;
}


.modal.upload-modal > div.modal-guts {
  // important style
  position: relative;

  margin: 5px;

  background: none;
}

.upload-form {
  display: flex;
  flex-direction: column;

  width: auto;

  background: $white;
  border-radius: 3px;
}

.upload-form > ul {

}

.upload-form > ul > li {
  display: flex;
  justify-content: center;

  // width: auto;

  border-bottom: 1px solid $light-gray;
}


.upload-form > ul > li:first-child .button{
  border-radius: 3px 3px 0 0;
}

.upload-form > ul > li:last-child {
  border-bottom: none;
}

.upload-form > ul > li:last-child .button{
  border-radius: 0 0 3px 0;
}
.upload-form > ul > li:last-child .button.blue{
  border-radius: 0 0 0 3px;
}

.upload-form .title {
  padding: 10px;
  width: 450px;

  text-align: center;
  color: $darkest;
  font-size: 16px;
}

.upload-form .errors {
  padding: 10px;

  color: $red;
}

.upload-form .image-input {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.upload-form .file {
  padding: 10px;
  width: 100%;

  cursor: pointer;
}

.upload-form .file:hover {
  background: rgba(0, 0, 0, 0.05);
}

.upload-form .image {
  display: flex;
  justify-content: center;
}

.upload-form .image img{
  max-height: 270px;
  // max-width: 480px;
  margin: 10px 0;
}

.upload-form .input,
.upload-form .button {
  padding: 10px;
  width: 100%;

  border: none;

  text-align: center;
}

.upload-form .input::placeholder {
  color: $gray;
}

.upload-form .button {
  width: 50%;

  background: $white;
}

.upload-form .button:hover {
  background: rgba(0, 0, 0, 0.07);
}
.upload-form .button:disabled:hover {
  background: $white;
}

.upload-form .button.blue {
  color: $white;
  background: $blue;
}
.upload-form .button.blue:hover {
  color: $white;
  background: $blur-blue;
}
.upload-form .button.blue:disabled:hover {
  background: $blue;
}

.upload-form .button.wide {
  width: 100%;

  color: $darkest;

  font-size: 16px;
}

.floating-upload {
  position: fixed;
  right: 5%;
  bottom: 3%;
}

.floating-upload i.fa {
  font-size: 42px;
  color: $gray;
  text-shadow: 1px 1px 3px $gray;
  padding: 5px;
}
