.welcome-page {
  display: flex;
  justify-content: center;

  margin: 50px 0;
}

.welcome-page > main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 600px;

  color: $darkest;
}

.welcome-page .welcome-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
  width: 100%;

  border: 1px solid $lighter-gray;
  border-radius: 3px;
  background: $white;

  font-size: 14px;
}

.welcome-page .welcome-box .fa {
  font-size: 70px;
  color: $light-gray;
  margin: 10px 0;
}

.welcome-page .welcome-box h1 {
  margin: 5px;

  font-size: 18px;
  font-weight: bold;
}

.welcome-page .welcome-box p {
  margin: 5px;
}

.welcome-page .suggestions {
  width: 100%;
  height: auto;
  margin-top: 50px;

  border: 1px solid $lighter-gray;
  border-radius: 3px;
}

.welcome-page .suggestions header {
  color: $gray;
  text-transform: uppercase;
  font-size: 14px;
}

.welcome-page ul.follows-list li:last-child {
  border-bottom: none;
}